<div class="register">
    <a routerLink="/" class="logo">
        <img src="./assets/images/logo.png" alt="logo" />
    </a>
    <h1 class="title">Join the DEV Community</h1>
    <p class="sub-title">Dev Community is a community of 1,246,509 amazing develops</p>
    <div class="btn-signin-external" nz-row [nzGutter]="[0, 12]">
        <div nz-col nzLg="24">
            <button nz-button nzType="default">
                Continue with Facebook
            </button>
        </div>
        <div nz-col nzLg="24">
            <button nz-button nzType="default">
                Continue with Google
            </button>
        </div>
        <div nz-col nzLg="24">
            <button nz-button nzType="default">
                Continue with Microsoft
            </button>
        </div>
    </div>
    <p class="divice">
        <span>OR</span>
    </p>
    <form nz-form #registerForm="ngForm" (ngSubmit)="submit(registerForm)">
        {{registerForm.value | json}}
        <nz-form-item nzGutter="8">
            <nz-form-label nzFor="email" nzSm="24" nzMd="4" nzLg="24">Email</nz-form-label>
            <nz-form-control [nzErrorTip]="error_username">
                <input nz-input name="email" placeholder="Email..." ngModel email required autocomplete="off" />
            </nz-form-control>
            <ng-template #error_username let-control>
                <ul>
                    <li [hidden]="!control.errors.required">Email is required</li>
                    <li [hidden]="!control.errors.email">Email is wrong</li>
                </ul>
            </ng-template>
        </nz-form-item>
        <nz-form-item nzGutter="8">
            <nz-form-label nzFor="password" nzSm="24" nzMd="4" nzLg="24">Password</nz-form-label>
            <nz-form-control [nzErrorTip]="error_password">
                <input nz-input name="password" placeholder="Password..." type="password" required [requireLength]="6"
                    [requireDigit]="true" ngModel autocomplete="off" />
            </nz-form-control>
            <ng-template #error_password let-control>
                <ul>
                    <li [hidden]="!control.errors.required">Password is required</li>
                    <li [hidden]="!control.errors.requiredLength">Password length must be greater than 6</li>
                    <li [hidden]="!control.errors.requireDigit">Password must include numbers</li>
                </ul>
            </ng-template>
        </nz-form-item>
        <nz-form-item nzGutter="8">
            <nz-form-label nzFor="confirmPassword" nzSm="24" nzMd="4" nzLg="24">Confirmation password</nz-form-label>
            <nz-form-control [nzErrorTip]="error_confirm_password">
                <input nz-input name="confirmPassword" placeholder="Confirm password ..." type="password" required
                    [requireLength]="6" ngModel autocomplete="off" />
            </nz-form-control>
            <ng-template #error_confirm_password let-control>
                <ul>
                    <li [hidden]="!control.errors.required">Confirm password is required</li>
                </ul>
            </ng-template>
        </nz-form-item>
        <button nz-button nzType="primary" type="submit" class="btn-submit">Register</button>
    </form>
</div>