.sidebar-nav {
    position: fixed;
    top: 56px;
    height: 56px;
    width: 100%;
    left: 0;
    z-index: 11;
    background: #193550;

    &__item {
        border: none !important;
        line-height: 56px;
        display: inline-block;

        &:hover .sidebar-nav__sub {
            display: block !important;
        }

        &.sidebar-nav__selected {
            background: #304A62
        }

        &-link {
            display: block !important;
            padding: 0 35px 0 30px !important;
            color: #fff;
        }
    }

    &__sub-arrow::before,
    &__sub-arrow::after {
        background: #fff
    }

    &__sub {
        position: absolute;
        left: 0;
        top: 100%;
        height: auto;
        display: none;
        z-index: 1;
        overflow: initial;
        background: #193550;

        .sidebar-nav__item {
            float: left;
            line-height: 44px;

            &.sidebar-nav__selected {
                background: #193550;
            }
        }
    }

}