.header {
    .logo {
        img {
            width: 50px;
        }
    }

    &__input {
        width: 420px;
    }

    &__search {
        position: relative;

        &-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            font-size: 18px;
        }
    }

}